@use "../styles/variable.scss";

body {
    background-color: variable.$bg-color;
    margin: 0;
    font-family: sans-serif;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 60px 0;

    .logo-container img {
        width: 200px;
    }

    .lower-image img {
        width: 300px; 
    }

    .btn-next {
        
            background-color: variable.$bg-color1;
            color:variable.$text-color;
            border: 2px solid black;
            padding: 13px 100px;
            border-radius: 30px;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
        
    }
}
